{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="page-content home">
	<div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-min-h-screen tw-px-8">
		<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}">
		<div class="hero">
			<h1 class="ui icon header title">
				{{AppDisplayName}}
			</h1>
		</div>
		<div class="tw-flex tw-gap-4 tw-mt-8">
			<a href="{{AppSubUrl}}/explore/repos" class="ui button tw-rounded-full tw-px-6 tw-py-2.5">
				{{ctx.Locale.Tr "explore"}}
			</a>
			<a href="{{AppSubUrl}}/help" class="ui button tw-rounded-full tw-px-6 tw-py-2.5">
				{{ctx.Locale.Tr "help"}}
			</a>
			<a href="{{AppSubUrl}}/user/login" class="ui primary button tw-rounded-full tw-px-6 tw-py-2.5">
				{{ctx.Locale.Tr "sign_in"}}
			</a>
		</div>
	</div>
</div>
{{template "base/footer" .}}
